[submodule "external/voicemark"]
	path = external/voicemark
	url = https://huggingface.co/spaces/haiyunli/VoiceMark
[submodule "external/safespeech"]
	path = external/safespeech
	url = https://github.com/wxzyd123/SafeSpeech
